:root{
    --primary-color: #5f4bb6;
    --primary-hover: #7561d3;

    --glass-background: rgba(255, 255, 255, 0.325);
    --glass-background-hover: rgba(255, 255, 255, 0.60);
    --glass-background-light: rgba(255, 255, 255, 0.30);
    --header-background: rgba(255, 255, 255, 0.85);

    --shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    --shadow-small: 0 8px 20px rgba(0, 0, 0, 0.12);
    --shadow-image: 0 10px 30px rgba(0, 0, 0, 0.10);
    --shadow-hover: 0 14px 30px rgba(0, 0, 0, 0.18);

    --blur: blur(12px); /*desfoca o que está atrás da seção*/

    --radius-xl: 40px;
    --radius-lg: 24px;
    --radius-md: 20px;
    --radius-sm: 14px;
    --radius-xs: 12px;
}

.section-card{
    background: var(--glass-background);
    backdrop-filter: var(--blur);

    border-radius: var(--radius-lg);

    box-shadow: var(--shadow);

    padding: 50px;
}

.section-title{
    font-size: 2.4rem;
    color: var(--primary-color);

    margin-top: 0;
    margin-bottom: 30px;
}

/*faz a navegação por âncoras acontecer de forma suave*/
html{
    scroll-behavior: smooth;
}

/*estilos aplicados à pagina inteira*/
body{
    margin: 0; /*remove a margem padrão adicionada pelo navegador*/
    font-family: "Poppins", sans-serif;

    background-image: url("img/wallpaper-png.png");
    background-size: cover; /*aumenta a imagem até cobrir tudo*/
    background-position: center; /*mantém a imagem centralizada*/
    background-repeat: no-repeat; /*evita que a imagem se repita*/
    background-attachment: fixed; /*mentém a imagem fixa durante a scrollagem*/
}

section{
    padding: 100px 60px;
    
    max-width: 1280px;
    
    margin: 40px auto;

    scroll-margin-top: 120px; /*quando alguem navegar atravez da ancora considere que ela começa 120px antes*/
}

.header{

    margin: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;

    background: var(--header-background);
    backdrop-filter: var(--blur); /*desfoca o que está atrás do elemento*/

    border-radius: var(--radius-md);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);

    position: sticky;
    top: 10px;
    z-index: 1000;
}

.header img {
    width: 90px;
    height: auto;
}

.header a {
    text-decoration: none;
    
    color: var(--primary-color);
    
    font-weight: 500;
    
    transition: color 0.3s;
    
    display: inline-block;
}

.header a:hover{
    color: #8B78E6;

    transform: translateY(-2px);
}

.header ul {
    list-style: none;
    
    display: flex;
    
    gap: 30px;

    margin: 0;
    padding: 0;
}

.hero{
    min-height: 65vh; /*vh é uma unidade relativa à altura da tela*/

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 60px;

    padding: 40px 60px;
}

.hero-image img{
    width: 380px;
    height: auto;

    /* arredondamento da borda */
    border-radius: var(--radius-xl);
    
    box-shadow: var(--shadow-image);
}

.hero-left{
    display: flex;
    
    flex-direction: column;
    
    gap: 30px;

    max-width: 600px;
}

.hero-content h1{
    font-size: 2.8rem; /*3rem = multiplique pelo tamanho da fonte raiz*/
    
    margin: 10px 0;
    
    white-space: nowrap;
}

.hero-content h2{
    color:var(--primary-color);

    margin-bottom:20px;
}

.hero-content p{
    font-size: 1.1rem; 

    line-height: 1.8; /*altura da linha*/
}

.hero-content p:first-child{
     color: var(--primary-color);

    font-size:.9rem;
    font-weight:600;

    letter-spacing:3px;

    text-transform:uppercase;
}

.hero-buttons{
    display: flex;
    gap: 20px;
}

.primary-button,
.secondary-button{
    display: inline-block;

    text-decoration: none;

    padding: 14px 28px;

    border-radius: var(--radius-xs);

    font-weight: 500;

    transition: .3s;

    cursor: pointer;
}

.primary-button{
    background: var(--primary-color);
    color: white;
}

.secondary-button{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.primary-button:hover{
    background: var(--primary-hover);
    color: white;
    transform: translateY(-2px);
}

.secondary-button:hover{
    background: var(--primary-color);
    color: white;
    transform: translateY(-2px);
}

.about-section{
    margin-bottom: 40px;
}

.about-section p{
    font-size: 1.05rem;
    line-height: 1.9;

    color: #2e2e2e;

    margin-bottom: 24px;
}

.about-section p:first-of-type{
    font-size: 1.15rem;
    font-weight: 500;
}

.technologies-grid{
    display: grid;

    grid-template-columns: repeat(4, 1fr); /*5 colunas com o mesmo tamanho*/

    gap: 18px;
}

.technology-card{
    min-height: 100px;
    background: var(--glass-background-light);
    backdrop-filter: var(--blur);

    border-radius: var(--radius-sm);

    padding: 20px 16px;

    text-align: center;

    transition: 
            transform .3s,
            background-color .3s,
            box-shadow .3s;

    box-shadow: var(--shadow-small);
}

.technology-card i{
    font-size: 2.8rem;
    color: var(--primary-color);

    margin-bottom: 20px;
}

.technology-card:hover{
    transform: translateY(-10px) scale(1.03);

    background: var(--glass-background-hover);

    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
}

.technology-card:hover i{
    color: var(--primary-hover);
}

.technology-card h3{
    margin: 0;
    margin-top: 15px;
    font-size: 1.1rem;
}

.technology-card:hover h3{
    color: var(--primary-color);
}

.projects-section .section-title{
    margin-bottom: 35px;
}

.project-card{
    background: var(--glass-background-light);

    backdrop-filter: var(--blur);

    border-radius: 18px;

    padding: 30px;

    box-shadow: var(--shadow);

    transition:
            transform 0.3s,
            box-shadow 0.3s;

    margin-bottom: 25px;
}

.project-card:hover{
    transform: translateY(-8px);

    box-shadow: var(--shadow-hover);
}

.project-card h3{
    font-size: 1.7rem;

    color: var(--primary-color);

    margin-top: 0;

    margin-bottom: 18px;
}

.project-card p{
    font-size: 1.05rem;

    line-height: 1.8;

    margin-bottom: 25px;
}

.project-technologies{
    margin-bottom: 15px;
}

.project-technologies h4{
    color: var(--primary-color);

    margin-top: 0;
    margin-bottom: 15px;
}

.project-technologies ul{
    list-style: none;

    padding: 0;
    margin: 0;

    display: flex; /*coloca tudo na mesma linha, ele faz a quebra altomatica*/
    flex-wrap: wrap;

    gap: 10px;
}

.project-technologies li{
    background: rgba(95, 75, 182, 0.12);
    color: var(--primary-color);

    padding: 8px 14px;

    border-radius: 999px;

    font-size: 0.9rem;
    font-weight: 500;
}

.contact-section .section-title{
    margin-bottom: 25px;
}

.contact-section p{
    margin: 0;

    font-size: 1.05rem;

    line-height: 1.8;
}

.contact-links{
    display: flex;

    flex-direction: column;

    gap: 20px;
}

.contact-links a{
    display: flex;

    align-items: center;

    gap: 12px;

    width: fit-content; /*faz o elemento ter só a largura necessária*/

    text-decoration: none;

    color: var(--primary-color);
    background: var(--glass-background-light);

    padding: 14px 18px;

    border-radius: var(--radius-sm);

    transition:
        transform .3s,
        background-color .3s,
        box-shadow .3s;
}

.contact-links a:hover{
    transform: translateY(-4px);

    background: var(--glass-background-hover);

    box-shadow: var(--shadow-small);
}

.contact-links i{
    font-size: 1.4rem;
}

.contact-section p:first-of-type{
    font-size: 1.2rem;

    font-weight: 500;

    margin-bottom: 8px;
}

.contact-section p:last-of-type{
    margin-bottom: 35px;
}

.footer{
    font-size: .9rem;

    text-align: center;

    padding: 30px;

    color: rgba(95, 75, 182, .85);

    font-size: 0.95rem;
}

@media (max-width: 768px) {
    
    .hero{
        flex-direction: column;
    }
}